<link href="../../../vendor/bespin/BespinEmbedded.css" type="text/css" rel="stylesheet">
<style type="text/css">
    #edit {
        width: 100%;
        height: 320px;
    }
</style>
<script src="../../../vendor/bespin/BespinEmbedded.js"></script>
<div id="edit"></div>
<script type="text/javascript" charset="utf-8">
SC.ready(function() {
  var edit = document.getElementById("edit");
  var besp = tiki.require('embedded').useBespin(edit);
  window.setCode = function(st) {
    return besp.value = st;
  };  
  window.getCode = function() {
    return besp.value;
  };
  window.onCodeChange = function(fun) {
    besp.addEventListener('textChange', function() {
      fun(besp.value);
    });
  };
});
</script>
